/* src/pages/contact/contact.module.css */
.container {
  text-align: center;
  padding: 20px;
  background-color: #e0f7fa;
  color: #00796b;
  width: 100%;
  height: 100%;
}

.title {
  color: #0070f3;
  margin-bottom: 20px;
}
